.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputMessage {
  font-family: "Courier New";
  font-size: large;
  color: lightgreen;
}

.cardStyle {
  margin-top: 1%;
}

.globeLogo {
  max-width: 20%;
  max-height: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.titleStyle {
  text-align: center;
  color: darkgreen;
  font-variant: normal;
}

.tableStyles {
  max-height: 300px;
  margin-top: 20px;
}

/* smaller phone viewpoints */
@media only screen and (min-width: 1px) and (max-width: 479px) {
  .cardStyle {
    margin-top: 25%;
  }

  .tableStyles {
    max-height: 380px;
  }
}

/* small devices and most phones */
@media only screen and (min-width: 480px) {
  .cardStyle {
    margin-top: 15%;
  }

  .tableStyles {
    max-height: 340px;
  }
}

/* most tablets */
@media only screen and (min-width: 768px) {
  .cardStyle {
    margin-top: 10%;
  }

  .tableStyles {
    max-height: 310px;
  }
}

/* smaller desktop viewpoints */
@media only screen and (min-width: 992px) {
  .cardStyle {
    margin-top: 10%;
  }

  .tableStyles {
    max-height: 280px;
  }
}

/* large devices and wide screens */
@media only screen and (min-width: 1200px) {
  .cardStyle {
    margin-top: 7%;
  }

  .globeLogo {
    max-width: 15%;
    max-height: 15%;
  }

  .tableStyles {
    max-width: 70%;
    margin: 20px auto 0 auto;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* for traffic light component week11 */
.light {
  border: solid;
  width: 4.25rem;
}

.lamp {
  height: 3rem;
  width: 3rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

/* for street component week11 */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}